* {
    margin: 20PX;
    padding: 0;
    box-sizing: 10px;
    box-decoration-break: slice;
}

body {
    width: 100%;
    height: 100%;
    background-color: rgb(241, 146, 146);
    border-width: 5cm;
    border-color: crimson;
    border-style:inset;
    margin: 20PX;
    width: 980px;
    position: relative;
}

header {
    margin-right: 5px;
    display: inline-block;
    float:right;
    width:20%;
    background-color: rgb(70, 70, 70);
    height: 80px;
}

#logo {
    float:left;
    padding: 10px;
    width: 80%;
}

.redes-sociais {
    margin-right: 50px;
    display: inline-block;
    float: left;
    width:20%;
    background-color: rgb(70, 70, 70);
    height: 80px;
}

.quadrado {
    border: 2px, solid, black;
    width: 1080px;
    height: 1920;
    display: inline-block;
    background-color: lightgray;

}

#q1 {
    background-image: linear-gradient(to bottom,yellow,orange);
    background-color: azure;
}